<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comptatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Backbone.js Books - Web app with Backbone.js + Google API</title>
	<meta name="description" content="Backbone Books is a little application using the Google Books API and coded with Backbone.js library. This application has been created by Sébastien Chopin.">
	<link rel="stylesheet" href="assets/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet" type="text/css">
</head>
<body>
	<img src="assets/images/backbonejs-books.png" class="hidden"/>
	<a href="https://github.com/Atinux/backbone-books" class="forkMe"><img style="position: absolute; top: 0; left: 30px; border: 0;" src="https://github.com/jamesflorentino/fork-ribbons/raw/master/ribbons/white-black.png" alt="Fork me on GitHub"></a>
	<h1 class="title">Backbone.js Books</h1>
	<div class="social">
		<div class="twitter-btn"><a href="https://twitter.com/share" class="twitter-share-button" data-text="Cool responsive web app with Backbone.js and Google Books API" data-related="Atinux" data-hashtags="backbonejs">Tweet</a></div>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="google-btn"><div class="g-plusone" data-size="medium"></div></div>
		<script type="text/javascript">
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
		</script>
		<div class="facebook-btn"><div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div></div>
	</div>
	<div id="content">
		<div class="searchBar">
			<div class="search">
				Search : <input type="text" name="search" autocomplete="off" class="searchValue" value="Neuromarketing" />
				<img src="assets/images/loader.gif" alt="Loading..." class="spinner" />
			</div>
		</div>
		<div class="library">
			<div style="display:table;width:100%;height:100%;">
				<img src="assets/images/shadow-search.png" style="position:absolute;left: 0px;top: 0px;"/>
				<img src="assets/images/shadow-search-right.png" style="position:absolute;right: 0px;top: 0px;"/>
				<div class="leftBar"></div>
				<div class="books"></div>
				<div class="rightBar"></div>
			</div>
			<div class="bookDetail"></div>
		</div>
	</div>
	<a href="https://www.twitter.com/Atinux" target="_blank" class="twitter"><img src="assets/images/twitter.png" alt="Atinux's Twitter" /></a>
	<script type="text/template" id="bookTemplate">
		<img src="<%= (model.attributes.volumeInfo.imageLinks.thumbnail ? model.attributes.volumeInfo.imageLinks.thumbnail : 'http://placehold.it/100x150/eeeeee/999999') %>" alt="" class="book" />
	</script>
	<script type="text/template" id="bookDetailTemplate">
		<a class="close">x</a>
		<div class="imgBook">
			<img src="<%= (hash.volumeInfo.imageLinks.thumbnail ? hash.volumeInfo.imageLinks.thumbnail : 'https://placehold.it/200x260/eeeeee/999999') %>" />
		</div>
		<h1><%= hash.volumeInfo.title %></h1>
		<%= (hash.volumeInfo.subtitle ? '<h2>'+hash.volumeInfo.subtitle+'</h2>' : '') %>
		<p><%= (hash.volumeInfo.description ? hash.volumeInfo.description : 'No description found') %></p>
		<a href="https://books.google.fr/books?id=<%= hash.id %>" target="_blank"><b>See it on Google.</b></a>
	</script>
	<!-- Thirt-Party Libraries (Order matters) -->
	<script type="text/javascript" src="assets/js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="assets/js/libs/backbone-min.js"></script>
	
	<!-- Application core (Order matters) -->
	<script type="text/javascript" src="src/app.js"></script>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27481530-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
